mixin list()
	section.list

		.list__tabs
			.list__tab
				span Sort by:
			.list__tab
				a(ng-click="tabUnread()") Unread
			.list__tab
				a(ng-click="tabAll()") Date
			.list__tab
				a(ng-click="tabFav()") Fav

		article.list-animation(ng-repeat="item in view.side track by item.id")
			.list__item(ng-class="{isRead: item.unread==0}")
				a(ng-click="showArticle(item)")
					h4.list__title(ng-bind-html="item.title")
				.list__controls(ng-controller="Navbar")
					a.list__status(ng-click="unread(item)", ng-class="{isRead: item.unread==0}")
