mixin list()
	section.list

		a.list__profile(href="#settings")
			img.list__profile-img(ng-src="https://s3.amazonaws.com/uifaces/faces/twitter/alagoon/128.jpg")
			span.list__profile-name Hello, {{collection.user.name}}!

		+navigation()


		.list__nav
			.row
				a.col-xs-6(href="#add")
					i.fa.fa-plus-circle
					|  Add new
				a.col-xs-6(href="#settings")
					i.fa.fa-folder-open
					|  Organise
