mixin list()
	section.list

		a.list__profile(href="#profile")
			img.list__profile-img(ng-src="https://s3.amazonaws.com/uifaces/faces/twitter/alagoon/128.jpg")
			span.list__profile-name Hello, {{collection.user.name}}!

		+navigation()
