mixin menu()
	section(ng-controller="Menu")
		nav#menu.menu
			.menu__wrapper

				div(ng-show="view.section == 'list'")
					.menu__logotype
						img(ng-src="app/images/logotype.jpg")

				div(ng-show="view.section == 'single'")
					back-to-list
					span.menu__single.hidden-xs {{ collection.filter('feeds', { id: view.single.feed })[0].title }}
						| &nbsp;~
						span(am-time-ago="view.single.created")
					ul.menu__navbar(ng-controller="Navbar")

						li
							a(ng-click="saveForLater(view.single)")
								span.menu__later(ng-class="{isLater: view.single.later == 1}")
									span.fa.fa-clock-o
								span.hidden-xs Later
						li
							a(ng-click="markAsFav(view.single)")
								span.menu__fav(ng-class="{isFav: view.single.favourite == 1}")
									span.fa.fa-heart
								span.hidden-xs Favourite
						li
							a(ng-click="unread(view.single)")
								span.menu__unread(ng-class="{isUnread: view.single.unread == 1}")
									span.fa.fa-circle-o
								span.hidden-xs Unread


		a.menu__collapse(ng-click="toggleSidebar()")
			i.fa.fa-bars
			span.menu__collapse-badge.badge(ng-show="state.count.articles != 0") {{ collection.filter('articles', { unread: 1 }).length }}

		a.menu__add(href="#add")
			span.fa.fa-plus-circle

		block
