mixin navigation()

	section(ng-controller="Navigation")
		.navigation.list-group
			a(ng-click="view.panel = false", href="#discovery").navigation__item.list-group-item
				.navigation__icon.iconmonstr.iconmonstr-network
				span.navigation__title Discover
			a(ng-click="view.panel = false", href="#later").navigation__item.list-group-item
				.navigation__icon.iconmonstr.iconmonstr-time
				span.navigation__title Read later
				span.navigation__badge.badge(ng-show="count('later') != 0") {{ count('later') }}
			a(ng-click="view.panel = false", href="#favourites").navigation__item.list-group-item
				.navigation__icon.iconmonstr.iconmonstr-bookmark
				span.navigation__title Favourites
				span.navigation__badge.badge(ng-show="count('favourites') != 0") {{ count('favourites') }}
			a(ng-click="view.panel = false", href="#all").navigation__item.list-group-item
				.navigation__icon.iconmonstr.iconmonstr-menu
				span.navigation__title All
				span.navigation__badge.badge(ng-show="count('unread') != 0") {{ count('unread') }}

			div.navigation__list(ng-repeat="folder in collection.folders")
				{{folder.title}}
				ul.list-unstyled
					li.navigation__feed(ng-repeat="feed in folder.items")
						a(href="#feeds/{{feed.id}}")
							span.pull-left {{feed.title}}
							span.navigation__feed-badge.badge.pull-right(ng-show="count('feeds', feed) != 0") {{ count('feeds', feed) }}
