mixin thumbs(items, nav, filter, limit)
	section#thumbs.thumbs.fill
		.row
			.thumbs__wrapper.clearfix
				block
				section
					article.thumbs__item.thumb-animation.col-sm-6.col-md-4.col-lg-3(ng-repeat="item in #{items} | filter: #{filter} | limitTo: #{limit}", id="{{item.id}}")
						.thumbs__content(ng-class="{isRead:(item.unread==0 && (view.is === 'All' || view.is == 'Feeds')) || (item.favourite==0 && view.is === 'Favourites') || (item.later==0 && view.is === 'Later')}")
							a(ng-click="showArticle(item)")
								.thumbs__img(style="background-image: url({{item.image}});")
									p.thumbs__source {{ collection.filter(collection.feeds, { id: item.feed })[0].title }}
										| &nbsp;~
										span(am-time-ago="item.created")
								.thumbs__meta
									h3.thumbs__heading(ng-bind-html="item.title")
									p.thumbs__desc(ng-bind-html="item.description | cut:true:175:' ...'")
							.thumbs__nav(ng-controller="Navbar")
								a.pull-right(ng-click="markAsFav(item)")
									.thumbs__fav(ng-class="{isFav: item.favourite == 1}")
										span.fa.fa-heart
								a.pull-right(ng-click="saveForLater(item)")
									.thumbs__later(ng-class="{isLater: item.later == 1}")
										span.fa.fa-clock-o
								a.pull-left(ng-show="view.is === 'All' || view.is == 'Feeds'", ng-click="unread(item)")
									.thumbs__status(ng-class="{isRead: item.unread==0}")
									span(ng-show="item.unread == '0'") Keep unread
									span(ng-show="item.unread == '1'") Mark as read
