.add {

	@media (min-width: @screen-md-min) {
		margin-top: 72px;
		margin-bottom: 54px;
	}


	&__wrapper {
		@media (max-width: @screen-sm-max) {
			padding: 36px;
		}
	}

	&__button {

		@media (max-width: @screen-sm-max) {
			margin-top: 18px;
		}

		@media (min-width: @screen-md-min) {
			padding-left: 18px;
		}

	}

}
