.content {

	position: relative;
	z-index: @zindex-dropdown;
	overflow: hidden;
	background: @white;
	.transition(all 250ms ease-in-out);

	&.isWide {}
	&.isntWide {}

	@media (max-width: @screen-xs-max) {
		z-index: 450;
		width: 100%;
	}

}

