.content {

	position: relative;
	z-index: @zindex-dropdown;
	overflow: hidden;
	background: @white;

	&__sort {
		list-style: none;
		float: right;
		clear: none;
		padding-top: 36px;

		& > li {
			float: right;
			clear: none;
			margin-left: 9px;
		}

		&.isDark {
			color: @gray-lighter;

			a {
				color: @gray-lighter;
			}
		}
	}

	&__desc {
		padding: 18px;
	}

	@media (max-width: @screen-xs-max) {
		z-index: 450;
		width: 100%;
	}

}

