.side {

	background: @gray-dark url(../images/list-bg.gif);
	color: @white;
	position: relative;
	padding-top: 54px;
	float: left;
	clear: none;
	.transition(width 250ms ease-in-out);

	&.isCollapsed {

		width: 0;

		section {
			.transition(opacity 5ms ease-in-out);
			.opacity(0);
		}

	}

	&.isntCollapsed {

		section {
			.opacity(1);
			.transition(opacity 150ms ease-in-out 250ms);
		}

	}

	@media (max-width: @screen-xs-max) {
		position: absolute;
		z-index: 500;
		width: auto;
	}

}

