<!DOCTYPE html>
<html ng-app="reed">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Reed</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	</head>
	<body>

		<div class="container" ng-controller="Login">
			<button class="btn btn-primary" ng-click="login()">Connect with Facebook</button>
			&nbsp;
			<button class="btn btn-danger" ng-click="logout()">Logout</button>
		</div>

		<div ng-controller="Feeds">
			<ul ng-repeat="feed in feeds">
				{{feed.title}}
			</ul>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
		<script src="http://code.angularjs.org/1.2.15/angular-resource.min.js"></script>
		<script src="http://pc035860.github.io/angular-easyfb/angular-easyfb.min.js"></script>
		<script src="js/ngStorage.min.js"></script>

		<script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

		<script>

			angular.module('reed', ['ngResource', 'ngStorage', 'ezfb'])
			.config(function (ezfbProvider) {

				ezfbProvider.setInitParams({
					appId: '676983059011847',
					status: true,
					cookie: true
				});

			})
			.factory('Api', ['$resource', '$sessionStorage', function ($resource, $sessionStorage) {

				return {

					Feeds: $resource('api/feeds', {}, {
						query: {
							method: 'GET',
							isArray: true,
							headers: {
								'Authorization': $sessionStorage.auth.token
							}
						}
					}),

				};

			}])
			.controller('Login', function ($scope, $resource, $sessionStorage, ezfb) {

				$scope.login = function () {

					ezfb.login(function (res) {

						var AuthToken = $resource('api', {}, {
							get: {
								method: 'GET',
								headers: {
									'Authorization': res.authResponse.accessToken
								}
							}
						});

						$sessionStorage.auth = AuthToken.get();

					});

				};

				$scope.logout = function () {

					ezfb.logout(function () {
						console.log('Logout');
					});

				};

			})
			.controller('Feeds', function ($scope, Api) {

				$scope.feeds = Api.Feeds.query();

			});

		</script>


	</body>
</html>
