section#login.login
	.login__wrapper(ng-controller="Login")
		h3.login__header Discover, read and share your next <br> favourite feed.
		a.btn.btn-lg.btn-primary(ng-model="processing", ng-click="login(); processing = !processing")
			i.fa.fa-spinner.fa-spin(ng-show="processing")
			i.fa.fa-facebook-square(ng-hide="processing")
			|  Login with Facebook
