nav#nav.nav
	.nav__wrapper

		.nav__section
			a.nav__collapse(href="", ng-click="isCollapsed = !isCollapsed")
				i.fa.fa-bars

		.nav__section
			a.nav__profile(href="#")
				img.nav__profile-img(src="https://s3.amazonaws.com/uifaces/faces/twitter/alagoon/128.jpg")
				.nav__profile-name Hello, Jędrzej!

		.nav__section.nav__section--noborder
			ul.nav__menu
				li.nav__menu-item
					a(href="#")
						span.nav__menu-badge.badge 32
						span.nav__menu-icon.iconmonstr.iconmonstr-network
						| Discovery
				li.nav__menu-item
					a(href="#")
						span.nav__menu-badge.badge 2
						span.nav__menu-icon.iconmonstr.iconmonstr-wireless
						| Feeds
				li.nav__menu-item
					a(href="#")
						span.nav__menu-badge.badge 155
						span.nav__menu-icon.iconmonstr.iconmonstr-menu
						| Articles
				li.nav__menu-item
					a(href="#")
						span.nav__menu-badge.badge 1234
						span.nav__menu-icon.iconmonstr.iconmonstr-time
						| Read later
				li.nav__menu-item
					a(href="#")
						span.nav__menu-badge.badge 12
						span.nav__menu-icon.iconmonstr.iconmonstr-bookmark
						| Favourites

		a.nav__add(href="#")
			span.fa.fa-plus-circle
