include mixins/mixins

+wrapper()

	+menu()
		+side()
			+list("view.side")

	+content
		.bg-animation.fill(ng-switch="view.section")
			.thumbs-animation.fill(ng-switch-when="list")
				+thumbs("view.content")
					section.content__desc
						h1.content__title {{view.title}}
			.single-animation.fill(ng-switch-when="single")
				+article("view.content")
