include mixins/mixins

+wrapper()

	+menu()
		+side()
			+list("view.side")

	+content
		.bg-animation.fill(ng-switch="view.section")
			.thumbs-animation.fill(ng-switch-when="list")
				+thumbs("view.content", "true", "undefined", "24")
					section.content__desc
						.row
							.col-xs-6
								h1.content__title {{view.title}}
							.col-xs-6
								.content__sort(ng-controller="Sort")
									toggle-switch(model="state.user.filter", on-label="Unread", off-label="All", ng-show="view.is == 'All' || view.is == 'Feeds'")
			.single-animation.fill(ng-switch-when="single")
				+article("view.content")
