div.article__wrapper.fill(ng-repeat="article in articles")
	article.article.fill.article-animation(ng-show="show.id === article.id")
		.row
			.article__nav.clearfix
				.col-xs-3.text-left
					.article__nav-left
						//- a(ng-click="back(article)", restore-scroll-position)
						//- 	span.fa.fa-backward
						//- 	|  Back
						back-to-list
				.col-xs-9.text-right
					.article__nav-right
						a(href="#")
							span.iconmonstr.iconmonstr-time
							|  Save for later
						a(href="#")
							span.iconmonstr.iconmonstr-bookmark
							|  Add to favourites
						a.hidden-xs(href="#")
							span.fa.fa-share
							|  Share

			.article__header
				.col-xs-12.col-md-10.col-md-offset-1
					.article__meta
						.article__data
							.row
								.col-xs-6.text-left {{article.source}}
								.col-xs-6.text-right
									span.fa.fa-book
									|  3 min read
						h1.article__title {{article.title}}
						p.article__desc {{article.description}}
				.article__image.clearfix(style="background-image: url({{article.image}})")

			.article__content.clearfix
				.col-xs-12.col-md-10.col-md-offset-1
					.article__text(ng-bind-html="article.content")

					.article__text
						a.article__button.btn.btn-neutral.btn-block.btn-lg(href="{{article.url}}.", target="_blank") Read orginal article


		a(ng-click="view(articles[$index + 1])", ng-show="articles[$index + 1] != undefined").article__next.row
			.col-xs-12.col-md-10.col-md-offset-1
				.article__data
					.row
						.col-xs-6.text-left Next to read
				h1.article__title {{articles[$index + 1].title}}
				p {{articles[$index + 1].description}}
