include mixins/mixins

+wrapper

	+menu()
		+side
			+list("view.side")

	+content
		.bg-animation.fill(ng-switch="view.section")
			.thumbs-animation.fill(ng-switch-default="list")
				+thumbs("view.content", "false", "discovery.search", "24")
					section.offset-top.text-center
						h1 Discover, read, grow.
					.search
						form.search__form(role="form")
							.row
								.form-group
									.col-xs-10.col-xs-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
										input.search__input.input-lg.form-control(type="text", placeholder="What would you like to read?", ng-model="discovery.search")
										span.glyphicon.glyphicon-search.form-control-feedback
			.single-animation.fill(ng-switch-when="single")
				+article("view.content")


