include mixins/mixins

+wrapper

	div(ng-include="'app/template/partials/menu.html'")

	+side
		div(ng-include="'app/template/partials/activity.html'")

	+content
		.bg-animation.fill(ng-switch="view.section")
			.thumbs-animation.fill(ng-switch-default="list")
				+thumbs("view.content", "false")
					h1 Discovery, read, grow.
					p.lead lorem
			.single-animation.fill(ng-switch-when="single")
				+single("view.content")


