include mixins/mixins

+wrapper

	div(ng-include="'app/template/menu.html'")

	+side
		div.fill(ng-include="'app/template/activity.html'")

	+content
		.bg-animation.fill(ng-switch="show.section")
			.list-animation.fill(ng-switch-default="list")
				+list("article in discoveryArticles")
					h1 Discovery, read, grow.
					p.lead lorem
			.single-animation.fill(ng-switch-when="single")
				+single("article in discoveryArticles")


