include mixins/mixins

+wrapper

	div(ng-include="'app/template/menu.html'")

	+side
		div.fill(ng-include="'app/template/discovery-activity.html'")

	+content
		div.bg-animation.fill(ng-switch="show.section")
			div.list-animation.fill(ng-switch-default="list")
				div.fill(ng-include="'app/template/articles.html'")
			div.single-animation.fill(ng-switch-when="single")
				div.fill(ng-include="'app/template/article.html'")


