nav#menu.menu(ng-controller="Menu")
	.menu__wrapper

		a.menu__collapse(href="", ng-click="toggle()")
			i.fa.fa-bars

		.menu__section
			a.menu__profile(href="#profile")
				img.menu__profile-img(ng-src="https://s3.amazonaws.com/uifaces/faces/twitter/alagoon/128.jpg")
				.menu__profile-name Hello, {{user.name}}!

		.menu__section.menu__section--noborder
			ul.menu__nav
				li.menu__nav-item
					a(href="#discovery")
						span.menu__nav-badge.badge {{state.unread.discovery}}
						span.menu__nav-icon.iconmonstr.iconmonstr-network
						span.hidden-xs Discovery
				li.menu__nav-item
					a(href="#feeds")
						span.menu__nav-badge.badge {{state.unread.feeds}}
						span.menu__nav-icon.iconmonstr.iconmonstr-wireless
						span.hidden-xs Feeds
				li.menu__nav-item
					a(href="#articles")
						span.menu__nav-badge.badge {{state.unread.articles}}
						span.menu__nav-icon.iconmonstr.iconmonstr-menu
						span.hidden-xs Articles
				li.menu__nav-item
					a(href="#readlater")
						span.menu__nav-badge.badge {{state.unread.readlater}}
						span.menu__nav-icon.iconmonstr.iconmonstr-time
						span.hidden-xs Read later
				li.menu__nav-item
					a(href="#favourites")
						span.menu__nav-badge.badge {{state.unread.fav}}
						span.menu__nav-icon.iconmonstr.iconmonstr-bookmark
						span.hidden-xs Favourites

		a.menu__add(href="#add")
			span.fa.fa-plus-circle
